@using Entities.Helpers
@using Model
@using Business.IRepostitory
@inject IUserRepository UserRepository
@{
    ViewData["Title"] = "AdministratorStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PaginatedList<AdminStaffModel>

@{
    PagedResultBase pagingModel = new PagedResultBase()
    {
        CurrentPage = Model.PageIndex,
        PageCount = Model.TotalPages,
        HasNextPage = Model.HasNextPage,
        HasPreviousPage = Model.HasPreviousPage
    };

    var listRole = UserRepository.GetAllRole();
}


<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7">

                </div>
                <div class="col-sm-5 col">
                    <a href="/accounts/AddAdministrator" class="btn btn-primary float-right mt-2">Thêm mới</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nhập thông tin tìm kiếm</h4>
                        <form action="/accounts/getAdminStaff">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select class="select" asp-for="@ViewData["Status"]" name="status">
                                            <option selected value="true">
                                                Hoạt động
                                            </option>
                                            <option value="false">
                                                Không hoạt động
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Quyền</label>
                                            <select class="select" asp-for="@ViewData["RoleId"]" name="roleId">
                                                <option disabled="disabled" selected>-- Chọn Quyền --</option>
                                                @foreach (var role in listRole)
                                                {
                                                    <option value="@role.Id">@role.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <br />
                                        <button type="submit" class="btn btn-primary search-btn"><i class="fe fe-search"></i> <span>Tìm kiếm</span></button>
                                    </div>

                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Tên User</th>
                                        <th>Họ Tên</th>
                                        <th>Email</th>
                                       
                                        <th>Quyền</th>
                                        <th>Trạng Thái</th>
                                        <th>Khóa</th>
                                        <th>Phân quyền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        @foreach (var q in Model)
                                        {

                                    <tr>
                                        <td>@q.UserName</td>
                                        <td>@q.FullName</td>
                                        <td>@q.Email</td>
                                        <td>@q.Role.Name</td>
                                        <td>
                                            @if (q.Status == true)
                                            {
                                                <span class="badge badge-pill bg-success inv-badge">hoạt động</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill bg-danger inv-badge">Không hoạt động</span>
                                            }
                                        </td>
                                        <td>

                                            <div class="status-toggle">
                                                @if (q.LockoutEnd != null)
                                                {
                                                    <input name="lockoutEnd" type="checkbox" id="lockout-@q.Id" data-value="0" class="check">
                                                }
                                                else
                                                {
                                                    <input name="lockoutEnd" type="checkbox" id="lockout-@q.Id" data-value="1" class="check" checked>
                                                }

                                                <label for="lockout-@q.Id" class="checktoggle">checkbox</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <select class="select PermissionStaff" id="permission-@q.Id" asp-for="@q.Role.Name">
                                                <option value="" selected disabled>Chọn quyền</option>
                                                @foreach (var role in listRole)
                                                {
                                                    <option value="@role.Name">@role.Name</option>
                                                }
                                            </select>
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="/accounts/EditAdminStaff/@q.Id" class="btn btn-sm bg-warning-light">
                                                    <i class="fe fe-pencil"></i> Chỉnh sửa
                                                </a>
                                                <button onclick="ResetPassword('@q.Id')" class="btn btn-sm bg-primary-light">
                                                    <i class="fe fe-pencil"></i> Reset mật khẩu
                                                </button>
                                                @if (q.LockoutEnd != null && q.Status == true)
                                                {
                                                    <a data-toggle="modal" href="#delete-modal-@q.Id" class="btn btn-sm bg-danger-light">
                                                        <i class="fe fe-trash"></i> Xóa
                                                    </a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                            <div class="modal fade" id="delete-modal-@q.Id" aria-hidden="true" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <div class="form-content p-2 text-center">
                                                                <h4 class="modal-title">Xóa tài khoản</h4>
                                                                <p class="mb-4">Bạn muốn xóa tài khoản này không?</p>
                                                                <button type="button" onclick="RemoveStaff('@q.Id')" class="btn btn-primary">Xóa </button>
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("PagerView", pagingModel)
        </div>


        <!-- Delete Modal -->

    </div>
</div>
<!-- /Page Wrapper -->
@section Scripts{
    <script src="~/admin/assets/js/Application/AdministatorStaff.js"></script>
}



